<section>
  <p class="text-info">
    Eclipse, la nueva joya de la noche totanera, te espera con los brazos abiertos. Desde nuestra apertura, desde hace
    menos de un año, hemos conquistado a los amantes de la música con nuestra energía contagiosa y nuestro ambiente
    único.
  </p>
  <br>
  <p class="text-info">
    En Eclipse, creemos que la música es un lenguaje universal que nos une a todos. Por eso, hemos creado un espacio
    donde podrás bailar, disfrutar y conocer gente nueva. Nuestra programación musical, con los mejores DJ's del
    momento, te hará vibrar toda la noche.
  </p>
  <br>
  <p class="text-info">
    Pero Eclipse es mucho más que una discoteca. Es un lugar donde vivir experiencias inolvidables y crear recuerdos
    para toda la vida. ¡Únete a nuestra comunidad y descubre por qué Eclipse es el nuevo punto de encuentro de los
    amantes de la noche en Murcia!
  </p>
</section>
