.p-button {
  font-size: 1.3em;
  font-family: 'Metropolis', system-ui, sans-serif;

  -webkit-user-select: none; /* Disable text selection */
  -webkit-touch-callout: none; /* Disable callout, e.g., copy/paste menu */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disable tap highlight */
  -webkit-appearance: none; /* Remove default button styling */

  &:focus, &:hover, &:active {
    box-shadow: none;
  }
}

.uppercase .p-button {
    text-transform: uppercase;
}

a.p-button.btn-whatsapp {
  border: none;
  border-radius: 0.5em;
  background-color: #25d366;
  color: white;
  font-family: 'Helvetica Neue', system-ui, sans-serif;
  font-weight: 600;
  text-transform: none;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 1px;

  .pi {
    font-size: 1.3em;
  }
}
