<ul class="facilities-list">
  <li>
    <h3>Zona VIP</h3>
    <app-separator [slim]="true"/>
  </li>
  <li>
    <h3>Pista principal</h3>
    <app-separator [slim]="true"/>
  </li>
  <li>
    <h3>Zona de juegos</h3>
    <app-separator [slim]="true"/>
  </li>
  <li>
    <h3 class="coming-soon-title">Próximamente...</h3>
    <ul class="coming-soon-list">
      <li>
        <h4>Guardarropas</h4>
      </li>
      <li>
        <h4>Terraza</h4>
      </li>
    </ul>
  </li>
  <app-separator [slim]="true"/>
</ul>
