@if (event()) {
  <div class="container">
    <div pRipple class="card styled-box-green shadow-2">
      <a [routerLink]="'events' + event().id">
        <img
          [ngSrc]="event().imageUrl"
          [alt]="event().name"
          width="300"
          height="375">
      </a>
    </div>

    <div class="info">
      <p>{{ event().date | date : 'dd/MM/yyyy HH:mm' }} H</p>
      <a [routerLink]="'events' + event().id" class="title">
        {{ event().name }}
      </a>
    </div>
  </div>
}
