<nav class="nav-container" [ngClass]="{ 'transparent': transparent() }">
  <div #blurContainer class="blur-container">
    <div class="menu cross menu--1">
      <label>
        <input #menuToggle type="checkbox" id="menu-toggle" (change)="toggleMenu()">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <path class="line--1" d="M0 40h62c13 0 6 28-4 18L35 35"/>
          <path class="line--2" d="M0 50h70"/>
          <path class="line--3" d="M0 60h62c13 0 6-28-4-18L35 65"/>
        </svg>
      </label>

      @if (!transparent()) {
        <div class="nav-logo-container" role="link" routerLink="/">
          <app-eclipse [navbarBrand]="true"/>
        </div>
      }
    </div>

    <div #menuItems class="menu-items">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Contacto
          </a>
        </li>
        <li>
          <a routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Calendario
          </a>
        </li>
        <li>
          <a routerLink="/faqs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Preguntas frecuentes
          </a>
        </li>
      </ul>
      <div class="social-media-container">
        <app-social-media/>
      </div>
    </div>
  </div>
</nav>
