<div class="location-info">
  <h2>¿Dónde estamos?</h2>
  <p class="text-info">Eclipse esta ubicado en Totana (Murcia)</p>
  <span>
				<a
          target="_blank"
          title="Maps"
          aria-label="Maps con la ubicación de Eclipse, se abrirá en una nueva pestaña"
          hreflang="es"
          href="https://maps.google.com/maps/dir//Eclipse+Av.+de+Juan+Carlos+I,+105+30850+Totana+Murcia/@37.7684433,-1.495567,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0xd6493a19a0bfc95:0xd91a9f320de97f30"
        >
					Como llegar&nbsp;<app-arrow-right/>
				</a>
			</span>
</div>
