.main-container {
  padding: 1rem;
}


@media screen and (min-width: 1200px) {
  .main-container {
    padding: 0 8rem 0 8rem;
  }
}

@media screen and (min-width: 1400px) {
  .main-container {
    padding: 0;
    width: 66%;
    margin: auto;
  }
}
