<app-main-container>
  <section class="brands">
    <ul>
      @for (item of brands; track item.title) {
        <li>
          @defer (on viewport) {
            <a
              target="_blank"
              [title]="item.title"
              [attr.aria-label]="item.label"
              [hreflang]="item.lang"
              [href]="item.url"
            >
              <img [alt]="item.title" [src]="item.imgUrl"/>
            </a>
          } @placeholder {
            <a href=""></a>
          }
        </li>
      }
    </ul>
  </section>
</app-main-container>
