<section class="section-info">
  <h3>Info general</h3>

  <a
    class="text-info"
    title="Código de vestimenta"
    aria-label="Código de vestimenta"
    routerLink="/dress-code">
    C&oacute;digo de vestimenta
  </a>

<!--  <a-->
<!--    class="text-info"-->
<!--    title="Trabaja con nosotros"-->
<!--    aria-label="Trabaja con nosotros"-->
<!--    href="/work-with-us">-->
<!--    Trabaja con nosotros-->
<!--  </a>-->

  <a
    class="text-info"
    title="Preguntas frecuentes"
    aria-label="Preguntas frecuentes"
    href="/faqs">
    Preguntas frecuentes
  </a>
</section>
