<app-main-container>
  <section class="description">
    <div class="info">
      <h2>Eclipse, más que una discoteca, es una experiencia</h2>

      <p class="text-info">
        Ven y únete a nosotros en Eclipse, donde cada noche es una nueva aventura a través del
        universo. ¡Prepárate para despegar y vivir una experiencia que trasciende los límites de la
        imaginación!
      </p>
    </div>

    <img
      class="first"
      aria-label="Image DSC05015"
      alt="DSC05015"
      ngSrc="https://ucarecdn.com/19c63d3a-85d6-42ec-8d43-7820fe38941c/-/preview/1000x562/"
      height="3480"
      width="6192"
      priority/>

    <img
      class="last"
      aria-label="Image DSC05247"
      alt="DSC05247"
      ngSrc="https://ucarecdn.com/0a25e20b-ddd2-4552-8cc4-db8ab19a4710/-/preview/1000x562/"
      height="3480"
      width="6192"/>
  </section>
</app-main-container>
