<ul>
  <li>
    <a
      target="_blank"
      title="Instagram"
      aria-label="Instagram de Eclipse, se abrirá en una nueva pestaña"
      hreflang="es"
      href="https://instagram.com/eclipseoficial.es"
    >
      <app-instagram/>
    </a>
  </li>
  <li>
    <a
      target="_blank"
      title="Tiktok"
      aria-label="Tiktok de Eclipse, se abrirá en una nueva pestaña"
      hreflang="es"
      href="https://tiktok.com/@eclipseoficial.es"
    >
      <app-tiktok/>
    </a>
  </li>
  <li>
    <a
      target="_blank"
      title="Facebook"
      aria-label="Facebook de Eclipse, se abrirá en una nueva pestaña"
      hreflang="es"
      href="https://www.facebook.com/profile.php?id=61557623731439"
    >
      <app-facebook/>
    </a>
  </li>
  <li>
    <a
      target="_blank"
      title="Whatsapp"
      aria-label="Whatsapp de Eclipse, se abrirá en una nueva pestaña"
      hreflang="es"
      href="https://wa.me/34641727027"
    >
      <app-whatsapp/>
    </a>
  </li>
  <li>
    <a
      target="_blank"
      title="Mail"
      aria-label="Mail de Eclipse, se abrirá en una nueva pestaña"
      hreflang="es"
      href="mailto:discoeclipse24@gmail.com"
    >
      <app-mail/>
    </a>
  </li>
  <li>
    <a
      target="_blank"
      title="Github"
      aria-label="Github de Eclipse, se abrirá en una nueva pestaña"
      hreflang="es"
      href="https://github.com/anthonylldev/eclipse-site"
    >
      <app-github/>
    </a>
  </li>
</ul>
