.container:not(.navbarBrand) {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 80%;
    height: auto;
  }
}

.navbarBrand {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  svg {
    width: auto;
    height: 50%;
  }
}


@media screen and (min-width: 1200px) {
  .container:not(.navbarBrand) {
    svg {
      width: 60%;
    }
  }

  .navbarBrand {
    svg {
      height: 80%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .container:not(.navbarBrand) {
    svg {
      width: 50%;
    }
  }
}
