svg {
  width: 80%;
  height: auto;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 1200px) {
  svg {
    width: 60%;
  }
}

@media screen and (min-width: 1400px) {
  svg {
    width: 50%;
  }
}
